<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yuta Nishikawa</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img/favicon.ico">
</head>
<body>
    <div class="container fade-in" id="app">
        <aside>
            <div class="profile-container">
                <img src="img/yuchn_smile.jpg" alt="Yuta Nishikawa">
                <div class="sub-item">
                    <img src="img/ramen_syouyu.png" alt="Ramen">
                    <div class="bubble">
                        <p>I love RAMEN so much!!!</p>
                    </div>
                </div>
                <div class="name-tag">
                    <p>YUTA NISHIKAWA</p>
                    <p>西川 勇太</p>
                </div>
                <div class="link-container">
                    <ul>
                        <li><a href="#aboutme">ABOUT ME</a></li>
                        <li><a href="#educations">EDUCATIONS</a></li>
                        <li><a href="#experiments">EXPERIMENTS</a></li>
                        <li><a href="#publications">PUBLICATIONS</a></li>
                        <li><a href="#activities">AWARDS AND ACTIVITIES</a></li>
                        <li><a href="#creations">CREATIONS</a></li>
                    </ul>
                </div>
                <div class="sns-container">
                    <ul> 
                        <li v-for="account in sns">
                            <a :href="account.url">
                                <i :class="account.iconClass"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <main>
            <div id="aboutme">
                <h1>ABOUT ME</h1>
                <div class="center-text">
                    <p>Researcher / Nara Institute of Science and Technology</p>
                    <p>Master Student of Engineering</p>
                    <p>Nara, Japan</p>
                </div>
                <p>
                    Thank you for visiting my page! <br><br>
                    I am studying spoken and natural language processing in Japan 
                    and I am deeply interested in how to handle self-supervised learning models of speech, in particular.
                    Speech SSL models contain a wealth of internally useful information, 
                    and my research focuses on effectively extracting that information to improve the performance of downstream tasks. <br><br>
                    I use PyTorch as my deep learning framework and I am skilled at implementing the logical components. 
                    Additionally, I have experience utilizing Python web development frameworks like Django and FastAPI, 
                    as well as proficiency in prototyping.
                </p>
            </div>
            <div id="educations">
                <h1><i class="fa-solid fa-graduation-cap"></i>EDUCATIONS</h1>
                <ul class="timeline">
                    <li v-for="education in educations">
                        <div class="end-period">{{education.end}}</div>
                        <div class="start-period">{{education.start}}</div>
                        <h2>{{education.institution}}</h2>
                        <p>{{education.department}}</p>
                        <p v-if="education.laboratory != null">{{education.laboratory}}</p>
                        <p>{{education.degree}}</p>
                    </li>
                </ul>
            </div>
            <div id="experiments">
                <h1><i class="fa-solid fa-person-walking-luggage"></i>EXPERIMENTS</h1>
                <div class="timeline">
                    <ul>
                        <li v-for="experiment in experiments">
                            <div class="end-period">{{experiment.end}}</div>
                            <div class="start-period">{{experiment.start}}</div>
                            <h2>{{experiment.organization}}</h2>
                            <p>{{experiment.department}}</p>
                            <p>{{experiment.position}}</p>
                            <div class="link-button">
                                <a v-for="link in experiment.links" :href="link.url">[ {{link.name}} ]</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="publications">
                <h1><i class="fa-solid fa-scroll"></i>PUBLICATIONS</h1>
                <div class="plain-list">
                    <ul>
                        <li v-for="publication in publications">
                            <h2>{{publication.title}}</h2>
                            <p v-html="publication.authors"></p>
                            <p v-html="publication.publish"></p>
                            <div class="award" v-if="publication.award != null">
                                <i class="fa-solid fa-award"></i>{{publication.award}}
                            </div>
                            <div class="link-button">
                                <a v-for="link in publication.links" :href="link.url">[ {{link.name}} ]</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="activities">
                <h1><i class="fa-solid fa-award"></i>AWARDS AND ACTIVITIES</h1>
                <div class="timeline">
                    <ul>
                        <li v-for="activity in activities">
                            <div class="end-period">{{activity.date}}</div>
                            <h2>{{activity.title}}</h2>
                            <p>{{activity.description}}</p>
                            <div class="link-button">
                                <a v-for="link in activity.links" :href="link.url">[ {{link.name}} ]</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="creations">
                <h1><i class="fa-solid fa-cubes"></i>CREATIONS</h1>
                <div class="plain-list">
                    <ul>
                        <li v-for="creation in creations">
                            <h2>{{creation.title}}</h2>
                            <p>{{creation.description}}</p>
                            <div class="link-button">
                                <a v-for="link in creation.links" :href="link.url">[ {{link.name}} ]</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
    </div>
    <footer>
        Yuta Nishikawa
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        var myData = {
            sns: [
                {
                    name: "Twitter",
                    iconClass: "fa-brands fa-twitter",
                    url: "https://twitter.com/ChanYu1224",
                },
                {
                    name: "Instagram",
                    iconClass: "fa-brands fa-instagram",
                    url: "https://instagram.com/chan_yu1224"
                },
                {
                    name: "GitHub",
                    iconClass: "fa-brands fa-github",
                    url: "https://github.com/ChanYu1224",
                },
                {
                    name: "Google Scholar",
                    iconClass: "fa-solid fa-graduation-cap",
                    url: "https://scholar.google.co.jp/citations?user=sfA9zvcAAAAJ&hl=ja",
                }
            ],
            educations: [
                {
                    start: "2022 Apr.",
                    end: "Current",
                    institution: "Nara Institute of Science and Technology, Japan",
                    department: "Graduate School of Science and Technology, Division of Information Science",
                    laboratory: "Augmented Human Communication Laboratory",
                    degree: "Master Student",
                },
                {
                    start: "2020 Apr.",
                    end: "2022 Mar.",
                    institution: "National Institute of Science and Technology, Nara College, Japan",
                    department: "Faculty of Advanced Engineering",
                    laboratory: "Matsumura Laboratory",
                    degree: "Bachelor of Engineering",
                },
                {
                    start: "2015 Apr.",
                    end: "2020 Mar.",
                    institution: "National Institute of Science and Technology, Nara College, Japan",
                    department: "Department of Information and Computer Engineering",
                    laboratory: null,
                    degree: "Associate Degree of Engineering",
                },
            ],
            experiments: [
                {
                    start: "2022 Nov.",
                    end: "Current",
                    organization: "National Institute of Science and Technology",
                    position: "Researcher / Simultaneous Speech Translation",
                    department: "Augmented Human Communication Laboratory",
                },
                {
                    start: "2022 Sep.",
                    end: "2022 Dec.",
                    organization: "LINE Corporation",
                    position: "Part Time Job Research Scientist / Speech Recognition",
                    department: "Speech Team, AI Development Department",
                },
                {
                    start: "2022 Aug.",
                    end: "2022 Sep.",
                    organization: "LINE Corporation",
                    position: "Research Internship / Speech Recognition",
                    department: "Speech Team, AI Development Department",
                    links: [
                        {
                            name: "LINE Engineering Blog",
                            url: "https://engineering.linecorp.com/ja/blog/improving-end-to-end-speech-recognition-performance-with-bert-knowledge-distillation",
                        }
                    ]
                },
                {
                    start: "2019 Jul.",
                    end: "2022 Mar.",
                    organization: "学習塾 ゴールフリー",
                    department: "Ikoma School",
                    position: "Cram School Teacher / Project Manager / School Manager / Area Project Manager"
                }
            ],
            publications: [
                {
                    title: "Tagged End-to-End Simultaneous Speech Translation Training using Simultaneous Interpretation Data",
                    authors: "Yuka Ko, Ryo Fukuda, <b>Yuta Nishikawa</b>, Yasumasa Kano, Katsuhito Sudoh and Satoshi Nakamura",
                    publish: "In Proceedings of the 20th International Conference on Spoken Language Translation (IWSLT), 2023",
                    award: "Best Student Paper Award",
                    type: "international conference",
                    links: [
                        {
                            name: "Paper",
                            url: "https://aclanthology.org/2023.iwslt-1.34/",
                        }
                    ]
                },
                {
                    title: "NAIST Simultaneous Speech-to-speech Translation System for IWSLT 2023",
                    authors: "Ryo Fukuda, <b>Yuta Nishikawa</b>, Yasumasa Kano, Yuka Ko, Tomoya Yanagita, Kosuke Doi, Mana Makinae, Sakriani Sakti, Katsuhito Sudoh and Satoshi Nakamura",
                    publish: "In Proceedings of the 20th International Conference on Spoken Language Translation (IWSLT), 2023",
                    type: "international conference",
                    links: [
                        {
                            name: "Paper",
                            url: "https://aclanthology.org/2023.iwslt-1.31/",
                        }
                    ]
                },
                {
                    title: "Inter-connection: Effective Connection between Pre-trained Encoder and Decoder for Speech Translation",
                    authors: "<b>Yuta Nishikawa</b> and Satoshi Nakamura",
                    publish: "In Proceedings of the 24th Annual Conference of the International Speech Communication Association (INTERSPEECH), 2023",
                    type: "international conference",
                    links: [
                        {
                            name: "Paper",
                            url: "https://arxiv.org/abs/2305.16897",
                        }
                    ]
                },
                {
                    title: "Proficiency Estimation Method of Vibrato in Electric Guitar",
                    authors: "<b>Yuta Nishikawa</b> and Toshie Matsumura",
                    publish: "Journal of Information and Communication Engineering (JICE), Jol.7, Issue 3, December 31, 2021",
                    type: "journal",
                    links: [
                        {
                            name: "Paper",
                            url: "https://www.ascspublications.org/wp-content/uploads/woocommerce_uploads/2022/01/AscsPub_Vol7_Issue-2_14742570_JICE_462-466.pdf",
                        }
                    ]
                },
                {
                    title: "Proficiency Estimation Method in Vibrato: A Special Technique of an Electric Guitar",
                    authors: "<b>Yuta Nishikawa</b> and Toshie Matsumura",
                    publish: "In Proceedings of the 6th International Conference on Intelligent Informatics and Biomedical Sciences (ICIIBMS), 2021",
                    type: "international conference",
                    links: [
                        {
                            name: "IEEE Explore",
                            url: "https://ieeexplore.ieee.org/document/9651606",
                        }
                    ]
                },
                {
                    title: "エレキギター演奏自動評価のための奏法熟練度推定手法",
                    authors: "<b>西川 勇太</b>, 松村 寿枝",
                    publish: "電子情報通信学会 総合大会 ジュニア&学生ポスターセッション, 2021",
                    type: "domestic conference",
                    links: [
                        {
                            name: "Paper",
                            url: "https://www.ieice.org/~iss/jpn/Publications/issposter_2021/data/pdf/ISS-SP-001.pdf",
                        }
                    ]
                }
            ],
            activities: [
                {
                    date: "2022 Mar.",
                    title: "Graduation at the Top from National Institute of Science and Technology, Nara College",
                    description: "GPA: 3.87 / 4.00"
                },
                {
                    date: "2022 Mar.",
                    title: "Research Excellence Award （研究優秀賞） from National Institute of Science and Technology, Nara College",
                    description: "Title: Automatic Estimation of Electric Guitar Technique Proficiency using RVM",
                },
                {
                    date: "2022 Jan.",
                    title: "English Learning Encouragement Award （英語学習奨励賞） from National Institute of Science and Technology, Nara College",
                },
                {
                    date: "2021 Feb.",
                    title: "関西NBCニュービジネスアワード2020 ビジネスプラン部門 最優秀賞",
                    links: [
                        {
                            name: "Article",
                            url: "https://www.nara-k.ac.jp/contribution/2021/04/nbc2020.html",
                        }
                    ]
                }
            ],
            creations: [
                {
                    title: "Discord Alert Bot of Voice Channels",
                    description:
                    `
                    When you set this bot to your discord channel, the teamwork and productivity of your group increases so much.
                    This bot alerts entering to voice channel and exiting from voice channel and how long you stayed on voice channel weekly and daily.
                    `,
                    links: [
                        {
                            name: "Repository",
                            url: "https://github.com/ChanYu1224/discord-voice-channel-alert-bot"
                        },
                        {
                            name: "Blog",
                            url: "https://zenn.dev/chan_yu1224/articles/0d51c931bed175"
                        }
                    ],
                },
                {
                    title: "Web Bulletin Board",
                    description:
                    `
                    The bulletin board made as the practice project of the web programming.
                    This bulletin board has the functions, posting, deleting, and user registration.
                    In addition, admin priviledges is provided to super users.
                    `,
                    links: [
                        {
                            name: "Repository",
                            url: "https://github.com/ChanYu1224/bulletin-board-web",
                        }
                    ]
                },
                {
                    title: "Reinforcement Learning Visualization at Escape Game",
                    description:
                    `
                    The reinforcement learning visualization at escape game made as the practice project of the reinforcement learning.
                    This reinforcement learning is made by Q-learning, SARSA, and Monte Carlo method.
                    `,
                    links: [
                        {
                            name: "Repository",
                            url: "https://github.com/ChanYu1224/escaper-reinforcement-learning",
                        }
                    ]
                },
            ]
        }
        var App = {
            data() {return myData;}
        };
        app = Vue.createApp(App)
        app.mount("#app")
    </script>
</body>
</html>